#head{
    margin-top: 150px;
    font-size: 45px;
    text-align: left;
    color: darkblue;
}
@media(max-width:600px){
    #head{
        font-size: 30px;
    }
}
.bg_slider{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;}
    
    .bg_slider .banner-text{
        margin: 190px auto 0 auto;
        width: 50%;
        font-weight: 700;
        text-shadow: -1px 2px 3px black;
        height: 200px;
        text-align: center;
        font-size: 60px;
        z-index: 1;
        color: midnightblue;}
    .bg_slider .slider:nth-child(1){
        background-image: url(../images/cover-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        opacity: 0%;
        z-index: -1;
        background-position: center;
        overflow: hidden;
        height: 600px;}
        .bg_slider .slider:nth-child(2){
            background-image: url(../images/cover-img_1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width:100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 600px;}
            .bg_slider .slider:nth-child(3){
                background-image: url(../images/cover-img_2.jpg);
                background-repeat: no-repeat;
                width:100%;
                background-size: cover;
                height: 600px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                opacity: 0%;}

    .link_container{
        margin:auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;}
        .link_box{
            width:30%;
            margin: auto;
            display: flex;
            height: 90px;
            justify-content: center;
            align-items: center;
            padding:10px;
            text-align: center;
            background-color: rgb(89,177,3);
            color: white;
            transition: .4s;
            font-size: 17px;}
            .link_box:hover{
                transition: .4s;
                box-shadow: -1px 2px 8px 3px black;}

    .about_box{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;}
        .about_box .about_img{
            width: 40%;
            position: relative;
            margin: auto;}
            .about_box .about_img img{
                width: 100%;
                margin: auto;}
        .about_box .about_content{
            width:50%;
            text-align: justify;}
            .about_box .about_content p{
                font-size: 17px;
                text-align: justify;}
            .about_box .about_content button{
                width:40%;
                padding: 10px 5px;
                background-color: rgb(89,177,3);
                border: none;
                color: white;
                text-align: center;
                transition: .3s;}
                .about_box .about_content button:hover{
                    box-shadow: -1px 2px 8px 3px black;
                    transition: .3s;}
                    .link_container .link_box .fa{
                        font-size: 30px!important;}

@media (max-width:1000px){
    .bg_slider .banner-text{
        font-size: 40px;
    }
}
@media(max-width:700px){
    .bg_slider{
        height: 700px;}
        .bg_slider .banner-text{
            width: 100%;
            font-size: 30px;
            margin-top: 150 auto auto auto;
        }
        .bg_slider .slider{
            height: 700px;}
    .link_container .link_box{
        width: 100%;}
        .link_container .link_box .fa{
            font-size: 30px!important;} 
    .about_box .about_img{
        display: none;}
    .about_box .about_content{
        width:100%;
        text-align: justify;}
}